<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ví dụ Handlebars Template </title>
</head>
<body>
    <h1>Hello</h1>
    <h2>PH20371</h2>

    <h2>Số A: {{soA}}</h2>
    <h2>Số B: {{soB}}</h2>
    <h2>Phep tinh: {{operator}}</h2>
    <h2>Ket Qua: {{kq}}</h2>
</body>
</html>